html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Poppins';
}

.wrapper {
    max-width: 1200px;                      /* to set the whole content to the center*/
    margin: 0 auto;
}

/* Header Section, the logo and the navigation bar */

header {
    display: flex;
    justify-content: space-between;         /* to separate the logo and the nav ul*/
    align-items: center;
}

.logo {                                    
    width: auto;
    height: 50px;
}

nav {
    margin: 4em;
}

nav ul {
    list-style-type: none;                  /* to get rid off the bullet points on the ul*/
    display: flex;                          /* to set the text next to each other*/
    gap: 4.1em;                             /* to set the gap between the nav ul*/
    margin: 0;
}

nav a {                                     
    text-decoration: none;                  /* to get rid off the underline on a nav a ul */
    color: black;
    text-transform: uppercase;
    font-size: 1.6rem;                      /* figma font size: 16, css: 1.6rem */
    position: relative;                     /* parent element of the pseudo-element */
}

nav a.active:before {                       
    position: absolute;                     /* pseudo-element is relative to the parent */
    content: "";
    width: 35%;                             /* the width line under the 'Home Nav'*/
    height: 1px;
    border-bottom: 2px solid black;       
    bottom: -3px;                           /* to set the line on the bottom of the 'Home Nav' */
}

/* Hero Section, the main element, right-col and left-col*/

main {
    display: flex;                          /* to separate the left-col and right-col */
    gap: 25em;                              /* to initialize the center gap of the left-col and right-col */
    margin-top: 10em;                        /* to have a margin between the main element and the header section */
}

.left-col {
    width: 50%;                            /* the scope of the left column to the total space of the main parent container */
}

.right-col {
    flex-grow: 1;                           /* to utilize the remaining width available on the main section */
}

h1 {
    font-size: 3.5rem;     
    font-family: 'Source-Serif-4';       
    font-weight: normal;  
    margin: 0;  
}

.sub-head {
    font-size: 1.6rem;
    font-family: 'Poppins';
    gap: 2em;
}

.cta-buttons{
    margin: 5em 0;
}

.cta-buttons, .secondary-cta {
    display: flex;
    gap: 2em;                              
}

.primary-cta {
    background-color: #F1E2D1;
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border-radius: 2.0em;
    padding: 1em;
    margin-bottom: 50px;
}

.secondary-cta {
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
    display: block;                         /* to set the text on a single line */
    margin-top: 22px;
}

.secondary-cta svg {
    width: 20px;
}

.news {
    display: flex;
    gap: 3em;
    padding: 2em;                           /* to set the space around the content*/
    border: .5px solid black;
    border-radius: 2.0em;
}

.news-title {
    font-size: 3.2rem;
    font-family: 'Pacifico';
}

.news-details {
    font-size: 1.8rem;
    margin-top: 35px;                       /* to set the details align with the title*/
}